.register {
  width: 360px;
  margin: auto;

  .title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }

  .form {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #ddd;
    border-radius: 5px;

    .submit {
      margin-right: 5px;
    }
  }
}
