.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;

  .save {
    width: 15%;
    margin: 5px;
  }

  .questionsTable {
    margin: 10px;

    input {
      min-width: 100%;
      max-width: 100%;
    }
    select {
      color: white;
    }

    .answersTable {
      margin: 10px;
    }
  }

  .questionModal {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .inputGroup, .inputGroup input {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #363636;
      border: 1px solid #363636;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #e7e7e7;
    }
  }
}
