.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
  background-color: #212529;
  
  .title {
    font-size: 30px;
    font-weight: bold;
    color: #f8f9fa;
  }

  .loginButton {
    width: 120px;
  }
}
